{% extends 'layout.html' %}
{% block content %}
    <section class="header">
        <h1>{{ detail.title }}</h1>
        <p>Completed: {{ detail.date.strftime('%B, %Y') }}</p>
        <a href="{{ detail.url }}" class="github-btn">
            <i class="fab fa-github"></i>
            View on GitHub
        </a>
        <h2>Skills Learned</h2>
        <ul class="project-skills">
            <div>
                {% for skillz in view %}
                <li>{{ skillz }}</li>
                {% endfor %}
            </div>
        </ul>
    </section>
    <section id="project-desc">
        <div id="triangle5"></div>
        <h2>Description</h2>
        <p>
            {{ detail.description }}
        </p>
        <div id="triangle6"></div>
    </section>
    <form action="#" method="POST">
    <section id="edit-delete">
        <a href="{{ url_for('edit', id=detail.id) }}">
            <i class="fas fa-edit"></i>
            Edit
        </a>
        <a href="{{ url_for('delete', id=detail.id) }}">
            <i class="far fa-trash-alt"></i>
            Delete
        </a>
    </section>
    </form>
{% endblock %}