
{% extends 'layout.html' %}
{% block content %}

<section class="header">
        <h1>Python Developer, Lifelong Learner, Curious of the World</h1>
        <p>I see programming as an art of an engineer-minded person. Through programming, you have a blank slate to begin. 
        You have the final masterpiece in mind, but to get there, you have to create. Sometimes an artist will draw a flower they want to include in the painting many times on the side. They do so to create the flower they want to add. 
            As a coder, sometimes the code will not work the first few times correctly. 
            So you have to keep at it until you achieve the results you want. 
            And as you gain an understanding of how/why those lines or did not work, 
            you work closer to becoming a better artist. </p>
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGboyMq5VtA8Q/profile-displayphoto-shrink_800_800/0/1618440730287?e=1642636800&v=beta&t=XTAkxmKU0V1L_As-GmbqBbWW8r7Eyt5HdzOJ0LTIDIQ" alt="Headshot of myself">
    </section>
    <section id="about">
        <h2>About Me</h2>
        <p>
            I live outside Nashville, Tennessee, where I was born and raised. 
            I am married to a wonderful wife, and we are on a path to adopt a child. 
            We attend a church in a community that we love. I am also a musician, 
            the neighbor who is always cooking outside, and I have worked in 
            public safety for almost seven years now.  
        </p>
        <div id="triangle1"></div>
        <div id="triangle2"></div>
    </section>
    <section id="skills">
        <i class="fas fa-laptop-code"></i>
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
        </ul>
    </section>
    <section id="projects">
        <div id="triangle3"></div>
        <i class="fas fa-file-code"></i>
        <h2>Projects</h2>
        <div id="project-list">
            
            {% for content in project %}
            <div id="project1" class="a-project">
                <h3>{{ content.title }}</h3>
                <a href="{{ content.url }}" class="github-btn">
                    <i class="fab fa-github"></i>
                    View on GitHub
                </a>
                <p>{{ content.description }}</p>
                <p>Date Completed: {{ content.date }} </br>
                Skills: {{ content.skills }}</p>
            </div>
            {% endfor %}
            
        </div>
        <div id="triangle4"></div>
    </section>
    <section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <p>
            I can be eached at the email address below, and on other social media outlets.
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            codywtravis@gmail.com
        </p>
    </section>
{% endblock %}
